html, body{
    margin: 0;
}

.fields{
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    margin: 20px;
    overflow: hidden;
    display: inline-block;
}

.fields > div{
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    float: left;
}

.fields > div.row-start{
    clear: both;
}

.fields > div[data-game="apple"]{
		background: #f00;
		background: url(../img/ap.png) no-repeat 50% 50%;
		background-size: 110%;
}
.fields > div[data-game="limon"]{
		background: green;
		background: url(../img/l.png) no-repeat 50% 50%;
		background-size: 110%;
}
.fields > div[data-game="orange"]{
		background: orange;
			background: url(../img/or.png) no-repeat 50% 50%;
		background-size: 110%;
}

.fields > div[data-game="snake"]{
    background: #ff0;
}

.fields > div[data-game="wall"]{
    background: #00f;
}